<?xml version="1.0"?>
<config>
	<modules>
		<Mrmage_FilterOverride>
			<version>0.9.0</version>
		</Mrmage_FilterOverride>
	</modules>
	<global>
		<models>
			<mrmage_filteroverride>
				<class>Mrmage_FilterOverride_Model</class>
			</mrmage_filteroverride>
			<catalog_resource>
				<rewrite>
					<product_indexer_eav_source>Mrmage_FilterOverride_Model_Rewrite_Catalog_Resource_Product_Indexer_Eav_Source</product_indexer_eav_source>
				</rewrite>
			</catalog_resource>
		</models>
		<helpers>
			<mrmage_filteroverride>
				<class>Mrmage_FilterOverride_Helper</class>
			</mrmage_filteroverride>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<mrmage_filteroverride translate="title" module="mrmage_filteroverride">
											<title>Filter Override</title>
											<sort_order>500</sort_order>
										</mrmage_filteroverride>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<mrmage_filteroverride>
			<general>
				<enabled>0</enabled>
			</general>
		</mrmage_filteroverride>
	</default>
</config>